<div class="page">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 nav" >LINE</span>
  </nav>
  <div class="logo">
    <div class="img">
      <img src="../assets/line.png" alt="line_logo" height="200px" width="200px" class="line-logo">
    </div>
    <div class="line">Open Line to Continue.</div>
  </div>

  <div class="button-line">
    <button class="btn btn-success col-5 mx-autok openBtn" (click)="open()">Open LINE</button>
    <button type="button" class="btn btn-outline-secondary 2 col-5 mx-auto downloadBtn" (click)="download()">Download LINE</button>
  </div>
</div>
